
@import url('https://fonts.googleapis.com/css2?family=Butterfly+Kids&family=Kite+One&family=Poppins:wght@300&family=Short+Stack&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Butterfly+Kids&family=Kite+One&family=Short+Stack&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
  }
  
.background-settings {
    background-color: rgb(180,211,178);
    background-image: url('../images/background.jpg');
    background-size: cover;
}

h1 {
    font-family: 'butterfly kids', cursive;
    font-size: 400%;
    font-weight: 900;
    color: #200015;
}

i {
    font-size: 70%;
    color: #254c10;
}

#logo-header {
    margin-left: 4vw;
    margin-top: -60vh;
}

.text-area {
    background-color: #e9edef;
    box-sizing: content-box;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    padding-left: 15vw;
    font-size: small;
    font-family: Poppins, sans-serif;
    border-radius: 7%;
    border: solid 3px orange;
    margin-top: 20%;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
.container {
    width: 800px;
    max-width: 80%;
    background-color: #e9edef;
    box-sizing: content-box;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: small;
    font-family: Poppins, sans-serif;
    border: solid 3px orange;
    border-radius: 5px;
    padding: 10px;
    
}
  
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}
  
.btn {
    --hue: var(--hue-neutral);
    border: 3px solid gray;
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
    outline: none;
}
  
.btn:hover {
    border: 4px solid darkolivegreen ;
}
  
.btn.correct {
    background-color: green;
    color: black;
}
  
.btn.wrong {
    background-color: palevioletred;
    color: black;
}
  
#go_to_quiz {
    background-color: #fae2e3;
    border: 3px solid darkgreen;
    padding: 5px;
    margin: 10px;
    border-radius: 2%;
    width: auto;
    color: black;
    font-weight: bold;
    font-size: medium;
}
  .start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px 10px;
    color: #254c10;
    background-color: papayawhip;
    border: purple solid 3px;
  }
  
  .prompts {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hide {
    display: none;
  }
  
  #question {
    font-size: 500%;
    font-weight: 400;
    margin-left: 10%;
  }
  
  
  #static-question {
    height: 80%;
    width: 80%;
    margin-left: 1%;
    color: #43464b;
    font-size: large;
}
  
  
  
  
  
  
  /* Background Styles Only */
  
  @import url('https://fonts.googleapis.com/css?family=Raleway');
  
  
  html {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #DFDFDF;
  }
  
  .side-links {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .side-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 10px;
    color: white;
    width: 180px;
    padding: 10px 0;
    border-radius: 10px;
  }
  
  .side-link-youtube {
    background-color: red;
  }
  
  .side-link-twitter {
    background-color: #1DA1F2;
  }
  
  .side-link-github {
    background-color: #6e5494;
  }
  
  .side-link-text {
    margin-left: 10px;
    font-size: 18px;
  }
  
  .side-link-icon {
    color: white;
    font-size: 30px;
  }
/*
h1 {
    font-family: 'butterfly kids', cursive;
    font-size: 400%;
    font-weight: 900;
    color: #200015;
}

.background-settings {
    background-color: rgb(180,211,178);
    background-image: url('../images/background.jpg');
    background-size: cover;
}

.text-area {
    background-color: #e9edef;
    box-sizing: content-box;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    padding-left: 15vw;
    font-size: small;
    font-family: Poppins, sans-serif;
    border-radius: 7%;
    border: solid 3px orange;
}

/*.container {
    display: flex;
    align-items: center;
    padding: 2rem;
    text-align: left;
}*/


/*#quiz_frame {
    background-color: aliceblue;
    border: 3px solid gray;
    width: 500px;
    height: auto;
    border-radius: 7%;
    padding: 10px;
}

.button_start_quiz {
    background-color: #fae2e3;
    border: 3px solid darkgreen;
    padding: 5px;
    margin: 10px;
    border-radius: 2%;
    width: auto;
    color: black;
    font-size: medium;
    font-weight: 300;
}

#button_go_back {
    background-color: beige;
    border: 3px solid palegreen;
    padding: 3px;
    margin: 7px;
    border-radius: 2%;
    width: auto;
    color: black;
    font-size: medium;
    font-weight: 300;
}

#next {
    border-radius: 5%;
    font-size: larger;
    font-weight: bold;
    border: #200015 3px solid;
    width: 8vw;
    height: 5vh;
    margin-left: 65%;
    background-color: palevioletred;
}

#arrow {
    font-size: 200%;
}

i {
    font-size: 70%;
    color: #254c10;
}

#logo-header {
    margin-left: 2vw;
}
/* answer buttons 

.btn {

    border: gray solid 4px;
    border-radius: 5%;
    font-size: larger;
    font-weight: bold;
    width: 10vw;
    height: 6vh;
} 
 
#n  {
    background-color: #fefebe;   
}

#a {
    background-color: #83a5c0;
}

#v {
    background-color: #ffd7d7;
}

#av {
    background-color:#dcedc8;
}


#correct {
    background-color: green;
}

#incorrect {
    background-color: red;
}
/* end of answer button styles  
#static-question {
    font-size: 300%;
    font-weight: bolder;
    color: #464e51;
    font-size: large;
    margin-left: 0;
}

#question-container {
    font-size: 300%;
    color: black;
    font-weight: bolder;
}

/*.flex-column {
    display: flex;
    flex-direction: column;
}*/

/*.justify-center {
    justify-content: center;
}*/

/*.choice-container {
    display: flex;
    min-width: 80rem;
    margin-top: 1%;
    margin-bottom: 1%;
} 

.btn:hover {
    cursor: pointer;
    transform: scale(1.02);
    transform: transform 100ms;
    text-decoration: underline solid black;
}

#back {
    margin-left: 800px;
} */