
@import url('https://fonts.googleapis.com/css2?family=Butterfly+Kids&family=Kite+One&family=Poppins:wght@300&family=Short+Stack&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Butterfly+Kids&family=Kite+One&family=Short+Stack&display=swap');


h1 {
    font-family: 'butterfly kids', cursive;
    font-size: 400%;
    font-weight: 900;
    color: #200015;
}

#homepage-settings {
    background-color: rgb(180,211,178);
    background-image: url('../images/background.jpg');
    background-size: cover;
}

#text-area {
    background-color: #e9edef;
    box-sizing: content-box;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    padding-left: 15vw;
    font-size: small;
    font-family: Poppins, sans-serif;
    border-radius: 7%;
    border: solid 3px orange;
}

/*.container {
    display: flex;
    align-items: center;
    padding: 2rem;
    text-align: left;
}*/

#static-question {
    height: 80%;
    width: 80%;
    margin-left: -40px;
}

/*#quiz_frame {
    background-color: aliceblue;
    border: 3px solid gray;
    width: 500px;
    height: auto;
    border-radius: 7%;
    padding: 10px;
}*/

.button_start_quiz {
    background-color: #fae2e3;
    border: 3px solid darkgreen;
    padding: 5px;
    margin: 10px;
    border-radius: 2%;
    width: auto;
    color: black;
    font-size: medium;
    font-weight: 300;
}

#button_go_back {
    background-color: beige;
    border: 3px solid palegreen;
    padding: 3px;
    margin: 7px;
    border-radius: 2%;
    width: auto;
    color: black;
    font-size: medium;
    font-weight: 300;
}

i {
    font-size: 70%;
    color: #254c10;
}

#logo-header {
    margin-left: 2vw;
}
/* answer buttons */

.btn {

    border: gray solid 4px;
    border-radius: 5%;
    font-size: larger;
    font-weight: bold;
    width: 10vw;
    height: 6vh;
} 
 
#n  {
    background-color: #fefebe;   
}

#a {
    background-color: #83a5c0;
}

#v {
    background-color: #ffd7d7;
}

#av {
    background-color:#dcedc8;
}


#correct {
    background-color: green;
}

#incorrect {
    background-color: red;
}
/* end of answer button styles  */

#static-question {
    font-size: 300%;
    font-weight: bolder;
    color: #464e51;
    font-size: large;
    margin-left: 0;
}

#question {
    font-size: 300%;
    color: black;
    font-weight: bolder;
}

/*.flex-column {
    display: flex;
    flex-direction: column;
}*/

/*.justify-center {
    justify-content: center;
}*/

/*.choice-container {
    display: flex;
    min-width: 80rem;
    margin-top: 1%;
    margin-bottom: 1%;
} */

.btn:hover {
    cursor: pointer;
    transform: scale(1.02);
    transform: transform 100ms;
    text-decoration: underline solid black;
}

#back {
    margin-left: 800px;
}